<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>隐藏的侧栏.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6AC3FF5A1DBDF873006088F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AC3FF731DBDF873006088F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AC3FF7E1DBDF873006088F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
